.DS_Store
*.swp
*.o
*.lo
.deps
*.orig
Makefile.in
*~
*.xcuserdatad
xcuserdata
*.a
*.la
*.gz
*.log
*.trs
*.dylib
*.lai
.libs
*.gcno
*.gcda
doxygen.cfg
/doc/html
/doc/latex
/build
/DerivedData
/autom4te.cache
/aclocal.m4
/config.h.in
/config.log
/config.status
/configure
/libtool
/Makefile
/doc/Makefile
/src/config.h
/src/nyocictl/nyocictl
/src/libnyoci/libnyoci.pc
/src/libnyoci/nyoci-config.h
/src/libnyoci/stamp-h2
/src/libnyociextra/libnyociextra.pc
/m4
/src/stamp-h1
/src/config.h.in
/src/plugtest/nyoci-plugtest-client
/src/plugtest/nyoci-plugtest-server
/src/libnyoci/btreetest
/src/tests/test-concurrency
